page-saledetails {
  .button-approve{
    margin: 0 0 20px 20px!important;
  }

  .quantity {
    .item-inner, ion-item {
      border-bottom-color: transparent !important;
      box-shadow: none !important;
    }
  }

  .dispatch-img{
    background: transparent;
    img{
      height: 150px;
      object-fit: contain;
    }
  }

  .cancel{
    margin-left: 10px!important;
  }
}
